/*style général*/
@mixin general 
{
    ::-webkit-scrollbar
    {
        display: none;
    }
    html 
    {
        /*scroll smooth*/
        scroll-behavior: smooth;
    }

    body 
    {
        /*reset des marges*/
        margin: 0px;
        /*couleur de fond*/
        background-color: black;
        /*largeur de tout l'écran*/
        width: 100vw;
        /*hauteur adaptative*/ 
        height: auto;
        /*police poppins*/ 
        font-family: 'Poppins', sans-serif;
        /*couleur de police*/ 
        color: $secondaire;
    }

    h1, h2, h3, h4, h5, h6, p 
    {
        /*reset des marges*/ 
        margin: 0px;
    }

    button 
    {
        outline: none;
    }
}

/*couleurs*/ 
$primaire : #ff4900;
$secondaire : #ffffff;
$tertiaire : #ffee00;
$quatrieme : #707070;
$cinquieme : #111111;

/*breakpoints*/
$mobile : 715px;
$intermediaire-min : 716px;
$intermediaire-max : 898px;
$tablette-min : 899px;
$tablette-max : 1540px;

/*animation*/ 
@mixin animation-scroll 
{
   
    @keyframes scroll 
    {
        0%
        {
            transform: translateY(30%);
        }
    
        100%
        {
            transform: translateY(-30%);
        }
    } 
}

/*typo*/ 
@mixin typo-cpt 
{
    p 
        {
            font-size: 18px;
            font-weight: 500;
        }
}
