@import "untils";

@include general;
@include animation-scroll;

.header
{
    /*toute la largeur de l'écran*/ 
    width: 100%;
    /*tout la hauteur de l'écran*/ 
    height: 100vh;
    /*position absolute*/
    position: relative;

    &-haut
    {
        width: 100%;
        padding-top: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        h1 
        {
            font-size: 4em;
        }

        nav a
        {
            text-decoration: none;
            color: $secondaire;
            margin: 0px 20px;
            transition: 300ms ease-in-out;
            border-bottom: 2px solid transparent;
            font-size: 1.25em;
        }

        nav a:last-child
        {
            background-color: $primaire;
            padding: 14px 20px;
            border-radius: 10px;
        }

        nav a:hover
        {
            border-bottom: 2px solid $primaire;
        }
    }

    &-milieu
    {
        width: 50%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin-left: 12%;
        margin-top: 20vh;
        position: relative;

        p 
        {
            padding: 14px 18px;
            background-color: $primaire;
        }

        h2 
        {
            font-size: 5.5em;
        }

        h4 
        {
            font-size: 1.52em;
        }

        i 
        {
            color: $primaire;
            font-size: 50px;
            position: absolute;
            top: 3vh;
            left: 6.5vh;
        }

        &-bouttons
        {
            display: flex;
            flex-direction: row;

            button 
            {
                border-radius: 10px;
                border: none;
                font-size: 1.5em;
                color: $secondaire;
                margin-top: 7vh;
            }

            button:first-child
            {
                background-color: $primaire;
                padding: 20px 15px;
            }

            button:last-child
            {
                margin-left: 15px;
                padding: 20px 25px;
                background-color: transparent;
                border: 1px solid $secondaire;
            }
        }

    }

    &-bas 
    {
        i 
        {
            position: absolute;
            bottom: 50px;
            left: 50%;
            transform: translateX(-50%);
            font-size: 4.2em;
            color: $primaire;
            animation: scroll 1500ms ease-in-out alternate infinite;
        }
    }
}

main
{
    width: 100%;
    height: auto;

    #propos
    {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .propos-boite 
        {
            width: 74%;
            height: auto;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            &-image 
            {
                width: 50%;
                height: auto;
                filter: grayscale(100%);
            }
        }

        .propos-boite2
        {
            position: relative;
            
            h3 
            {
                font-size: 40px;
            }

            p 
            {
                font-size: 18px;
                font-weight: 300;
                line-height: 35px;
            }

            &-cpt1 
            {
                @include typo-cpt;
                margin-top: 45px;
                width: 100%;
                height: auto;
                position: relative;

                &-trait 
                {
                    width: 85%;
                    height: 3px;
                    background-color: $primaire;
                }

                &-trait2 
                {
                    width: 90%;
                    height: 3px;
                    background-color: $quatrieme;
                    position: absolute;
                    bottom: 0px;
                    z-index: -1;
                }
            }

            &-cpt2
            {
                @include typo-cpt;
                
                margin-top: 20px;
                width: 100%;
                height: auto;
                position: relative;

                &-trait 
                {
                    width: 72%;
                    height: 3px;
                    background-color: lighten($color: $primaire, $amount: 8);
                }

                &-trait2 
                {
                    width: 90%;
                    height: 3px;
                    background-color: $quatrieme;
                    position: absolute;
                    bottom: 0px;
                    z-index: -1;
                }
            }

            &-cpt3 
            {
                @include typo-cpt;
                
                margin-top: 20px;
                width: 100%;
                height: auto;
                position: relative;

                &-trait 
                {
                    width: 54%;
                    height: 3px;
                    background-color: $tertiaire;
                }

                &-trait2 
                {
                    width: 90%;
                    height: 3px;
                    background-color: $quatrieme;
                    position: absolute;
                    bottom: 0px;
                    z-index: -1;
                }
            }

            &-cpt4 
            {
                @include typo-cpt;
                
                margin-top: 20px;
                width: 100%;
                height: auto;
                position: relative;

                &-trait 
                {
                    width: 63%;
                    height: 3px;
                    background-color: lighten($color: $tertiaire, $amount: 8);
                }

                &-trait2 
                {
                    width: 90%;
                    height: 3px;
                    background-color: $quatrieme;
                    position: absolute;
                    bottom: 0px;
                    z-index: -1;
                }
            }

            button 
            {
                border-radius: 10px;
                border: none;
                font-size: 22px;
                color: $secondaire;
                margin-top: 75px;
                background-color: $primaire;
                padding: 20px 35px;
                position: absolute;
                bottom: 0px;
            }
        }
    }

    #competences
    {
        width: 100%;
        height: 100vh;
        position: relative;

        .competences-haut
        {
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: center;

            h3 
            {
                font-size: 40px;
                margin-top: 50px;
            }

            &-lgn1 
            {
                display: flex;
                flex-direction: row;
                justify-content: center;
                width: 100%;

                &-block 
                {
                    width: 25%;
                    height: 100px;
                    border-radius: 8px;
                    background-color: $quatrieme;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    align-items: center;
                    margin: 70px 30px;

                    p 
                    {
                        font-size: 25px;
                    }

                    i 
                    {
                        font-size: 25px;
                    }

                    i:first-child
                    {
                        background-color: black;
                        padding: 20px;
                        border-radius: 100px;
                    }

                    i:last-child
                    {
                        color: darken($color: $primaire, $amount: 5);
                    }

                    &--modifier
                    {
                        background-color: $primaire;

                        i:last-child
                        {
                            color: white;
                        }
                    }


                }

                
            }

            &-lgn2 
            {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: center;

                &-block 
                {
                    width: 25%;
                    height: 100px;
                    border-radius: 8px;
                    background-color: $quatrieme;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    align-items: center;
                    margin: 0px 30px;

                    p 
                    {
                        font-size: 25px;
                    }

                    i 
                    {
                        font-size: 20px;
                    }

                    i:first-child
                    {
                        background-color: black;
                        padding: 20px;
                        border-radius: 100px;
                    }

                    i:last-child
                    {
                        color: darken($color: $primaire, $amount: 5);
                    }
                }

                
            }

            button 
            {
                border-radius: 10px;
                border: none;
                font-size: 22px;
                color: $secondaire;
                margin-top: 70px;
                background-color: $primaire;
                padding: 20px 35px;
                
                a 
                {
                    text-decoration: none;
                    color: white;
                }
            } 
        }

        .competences-bas
        {
            width: 100%;
            height: 30%;
            position: absolute;
            bottom: 0%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;

            &-block
            {
                width: 277px;
                height: 211px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                background-color: $cinquieme;
                border-radius: 10px;
                border: dashed $quatrieme;

                p 
                {
                    font-size: 50px;
                    font-weight: 700;
                }

                h4 
                {
                    font-size: 30px;
                    font-weight: 500;
                    text-align: center;
                }

                &--modifier 
                {
                    background-color: $primaire;
                    border: none;
                }
            }

            &-fond1
            {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0px;
                left: 0px;
                background-image: url("../assets/image-competences.jpg");
                background-position: center bottom;
                background-repeat: no-repeat;
                background-size: cover;
                z-index: -2;
            }

            &-fond2
            {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0px;
                left: 0px;
                background-color: black;
                opacity: 0.7;
                z-index: -1;
            }
        }
    }

    #realisations
    {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        h3 
        {
            font-size: 40px;
            margin-top: 80px;
        }

        p 
        {
            font-size: 18px;

            span 
            {
                width: 10%;
                height: 2px;
                background-color: $primaire;
            }
        }

        .realisation-projets
        {
            width: 100%;
            height: auto;
            display: grid;
            grid-template-columns: repeat(3, 400px);
            grid-template-rows: repeat(2, 50%);
            gap: 30px;
            justify-content: center;
            margin-top: 50px;
            

            &-boite
            {
                position: relative;
                overflow: hidden;

                img 
                {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                &-fond
                {
                    width: 100%;
                    height: 100%;
                    background-color: $primaire;
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    transition: 500ms ease-in-out;
                    transform: translateY(110%);
                }
            }

            &-boite:hover .fond
            {
                transform: translateY(0);
            }


        }
    }
}